<!DOCTYPE html>
<html>
  <head>
    <title>Home_Fitness</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <div class='body'>
      <div class='container'>
        <p id="notice"><%= notice %></p>

        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>